<div class="modal-overlay" {{action "hideModal"}}></div>
<div class="attachment">
  <h4> Upload Attachment </h4>
  <form {{action "save" this on="submit"}}>
    <table>
      <tr><th>File:</th><td>{{view 'file-field' nameBinding="file_name" encodedDataBinding="encodedData" contentTypeBinding="content_type"}}</td></tr>
      <tr><th>Description:</th><td>{{input type="text" value=description}}</td></tr>
      <tr><th>Content Type:</th><td>{{content_type}}</td></tr>
      <tr><th>Comment:</th><td>{{view Ember.TextArea valueBinding="comment"}}</td></tr>
    </table>

    {{#if isSaving}}
      Saving...
    {{else}}
      <button type="submit">Save</button>
    {{/if}}
  </form>
</div>
