<table class="attachments">
  <tbody>
  {{#if content.isLoading}}
    <tr>
      <td>checking for attachments...</td>
    </tr>
  {{else}}
    {{#each itemController="attachment"}}
      <tr>
        <td>
          {{#linkTo "attachment" this}}
            {{description}}
          {{/linkTo}}
          ({{formatBytes size}}{{#if is_patch}}, patch{{/if}})<br>
          {{last_change_time}}, {{attacher.name}}
        </td>
        <td>
          {{#if flags}}
            {{#each flags}}
              {{setter.name}}: {{name}}{{status}}
            {{/each}}
          {{else}}
            <em>No flags</em>
          {{/if}}
        </td>
        <td>
          {{#linkTo "attachment" this}}Details{{/linkTo}} |
          <a {{bindAttr href="diffURL"}} target="_blank">Diff</a> |
          <a {{bindAttr href="reviewURL"}} target="_blank">Review</a>
        </td>
      </tr>
    {{else}}
      <tr>
        <td>No Attachments</td>
      </tr>
    {{/each}}
  {{/if}}
  </tbody>
  <tfoot>
    <tr><td>
      {{#if user.isLoggedIn}}
        {{#linkTo 'bug.attachment' this}}Upload a new attachment{{/linkTo}}
      {{else}}
        Log in to upload an attachment
      {{/if}}
    </td></tr>
  </tfoot>
</table>
