<form {{action "save" on="submit"}}>
  <table>
    <tr><th>File:</th><td>{{view App.FileField nameBinding="file_name" encodedDataBinding="encodedData" contentTypeBinding="contentType"}}</td></tr>
    <tr><th>Description:</th><td>{{input type="text" value=description}}</td></tr>
    <tr><th>Content Type:</th><td>{{contentType}}</td></tr>
    <tr><th>Comment:</th><td>{{view Ember.TextArea valueBinding="comment"}}</td></tr>
  </table>
  <button type="submit">Save</button>
</form>