<table class="attachments">
  <tbody>
  {{#if bug.isLoading}}
    <tr>
      <td>checking for attachments...</td>
    </tr>
  {{else}}
    {{#each filteredAttachments}}
      <tr {{bindAttr class="is_obsolete:obsolete"}}>
        <td>
          {{#linkTo "attachment" this}}
            {{description}}
          {{/linkTo}}
          ({{formatBytes size}}{{#if is_patch}}, patch{{/if}})<br>
          {{last_change_time}}, {{attacher}}
        </td>
        <td>
          {{#if flags}}
            {{#each flags}}
              {{setter.real_name}}: {{name}}{{status}}
            {{/each}}
          {{else}}
            <em>No flags</em>
          {{/if}}
        </td>
        <td nowrap>
          {{#linkTo "attachment" this}}Details{{/linkTo}} |
          <a {{bindAttr href="diffURL"}} target="_blank">Diff</a> |
          <a {{bindAttr href="reviewURL"}} target="_blank">Review</a>
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="3">No Attachments</td>
      </tr>
    {{/each}}
  {{/if}}
  </tbody>
  <tfoot>
    <tr>
      {{#if user.isLoggedIn}}
        <td colspan="2">
          <a href="#" {{action "showAttachmentModal" this}}>Upload a new attachment</a>
        </td>
        <td>
          {{#if filteredAttachments}}
            <a href="#" {{action "toggleObsoleteAttachments"}}>
              {{#if showingObsoleteAttachments}}
                Hide obsolete
              {{else}}
                Show obsolete
              {{/if}}
            </a>
          {{/if}}
        </td>
      {{else}}
        <td colspan="3">Log in to upload an attachment</td>
      {{/if}}
    </tr>
  </tfoot>
</table>
