<div class="attachments-container">
<table class="attachments">
  <tbody>
  {{#if attachments.isLoading}}
    <tr>
      <td>Loading attachments...</td>
    </tr>
  {{else}}
    {{#each filteredAttachments itemController="attachment"}}
      <tr {{bindAttr class="is_obsolete:obsolete"}}>
        <td>
          <div>
            {{#unless isDeleted}}
              {{#linkTo "attachment" this}}{{description}}{{/linkTo}}
              ({{formatBytes size}}{{#if is_patch}}, patch{{else}}, {{content_type}}{{/if}})<br>
            {{else}}
              {{description}} (<em>deleted</em>)
            {{/unless}}
          </div>
          <div class="details"><span {{bindAttr title=last_change_time}}>{{formatDate last_change_time}}</span>, {{attacher}}</div>
        </td>
        <td>
          {{#if flags}}
            {{#each flags}}
              <div>{{emailToUsername setter}}: {{name}}{{status}}</div>
            {{/each}}
          {{else}}
            <em>no flags</em>
          {{/if}}
        </td>
        <td nowrap>
          {{#linkTo "attachment" this}}Details{{/linkTo}}
          {{#if is_patch}}
            | <a {{bindAttr href="diffURL"}} target="_blank">Diff</a> | <a {{bindAttr href="reviewURL"}} target="_blank">Review</a>
          {{/if}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="3">No Attachments</td>
      </tr>
    {{/each}}
  {{/if}}
  </tbody>
  {{#unless attachments.isLoading}}
  <tfoot>
    <tr>
      {{#if user.isLoggedIn}}
        <td colspan="2">
          <a href="#" {{action "showAttachmentModal" this}}>Upload a new attachment</a>
        </td>
        <td>
          {{#if filteredAttachments}}
            <a href="#" {{action "toggleObsoleteAttachments"}}>
              {{#if showingObsoleteAttachments}}
                Hide obsolete
              {{else}}
                Show obsolete
              {{/if}}
            </a>
          {{/if}}
        </td>
      {{else}}
        <td colspan="3">Log in to upload an attachment</td>
      {{/if}}
    </tr>
  </tfoot>
  {{/unless}}
</table>
</div>