<div>
  <form {{action "save" on="submit"}}>
    <label>add new email: </label>
    {{input type="text" value=newEmails}}
    <button class="add-pop-btn" {{bindAttr disabled=isSaving}}>Add</button>
  </form>
</div>
<div class="cc-list-pop">
  <label>cc list: </label>
  <ul>
    {{#each cc}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
</div>

<div>
  <button type="button" class="remove-cc-btn">Remove Selected CCs</button>
</div>
<span><a href="#" {{action "close" target=view}}>Cancel & Close</a></span>