<div class="comments">
  {{#if comments.isLoading}}
    Loading comments...
  {{else}}
    {{#if comments}}
      {{view 'comment' contextBinding="firstComment"}}
      {{#unless isShowingRemainingComments}}
        {{#if remainingComments}}
          <div class="comments-show-all">
            <a href="#" {{action "showRemainingComments"}}>
              <img src="assets/images/comments.png" alt="Show remaining comments">
              Show other {{pluralize remainingComments.length 'comment'}}
            </a>
          </div>
        {{/if}}
      {{else}}
        {{each remainingComments itemView="comment"}}
      {{/unless}}
      {{each lastFewComments itemView="comment"}}
    {{/if}}
    {{#if user.isLoggedIn}}
      <div class="new-comment">
        <h4>New Comment:</h4>
        {{textarea value=newCommentText cols=80 rows=10}}
        <br>
        {{#if newCommentIsSaving}}
          Saving...
        {{else}}
          <button class="save-comment-btn" {{action "saveComment"}}>Save</button>
        {{/if}}
        <label>{{input type="checkbox" checked=newCommentIsPrivate}} Private</label>
      </div>
    {{else}}
      Log in to create a comment
    {{/if}}
  {{/if}}
</div>
