<div class="comments">
  {{#if comments.isLoading}}
    Loading comments...
  {{else}}
    {{#if comments}}
      {{view 'comment' contextBinding="firstComment"}}
      {{#unless isShowingRemainingComments}}
        {{#if remainingComments}}
          <div class="comments-show-all" {{action showRemainingComments}}>
            <hr>
            <a href="#">
              <img src="assets/images/comments.png" alt="Show remaining comments">
              Show other {{remainingComments.length}} comments
            </a>
            <hr>
          </div>
        {{/if}}
      {{else}}
        {{each remainingComments itemView="comment"}}
      {{/unless}}
      {{each lastFewComments itemView="comment"}}
    {{/if}}
    {{#if user.isLoggedIn}}
      <div class="comment-text">
        <h4>New Comment:</h4>
        {{textarea value=newCommentText cols=80 rows=25}}
        <br>
        {{#if newCommentIsSaving}}
          Saving...
        {{else}}
          <button {{action saveComment}}>Save</button>
        {{/if}}
      </div>
    {{else}}
      Log in to create a comment
    {{/if}}
  {{/if}}
</div>
