<div class="comments">
  {{#if isLoading}}
    Loading comments...
  {{else}}
    {{view 'comment' contextBinding="firstComment"}}
    {{#unless isShowingRemainingComments}}
      {{#if remainingComments}}
        <a href="#" {{action showRemainingComments}}>
          Show other {{remainingComments.length}} comments
        </a>
      {{/if}}
    {{else}}
      {{each remainingComments itemView="comment"}}
    {{/unless}}
    {{each lastFewComments itemView="comment"}}
    {{#if user.isLoggedIn}}
      <div class="comment-text">
        <h4>New Comment:</h4>
        {{textarea value=newCommentText cols=80 rows=25}}
        <br>
        {{#if newCommentIsSaving}}
          Saving...
        {{else}}
          <button {{action saveComment}}>Save</button>
        {{/if}}
      </div>
    {{else}}
      Log in to create a comment
    {{/if}}
  {{/if}}
</div>
