<div class="comments">
  {{#if comments.isLoading}}
    Loading comments...
  {{else}}
    {{#if user.isLoggedIn}}
      {{textarea value=newCommentText cols=80 rows=25}}
      <button {{action saveComment}}>Save</button>
    {{else}}
      Log in to create a comment
    {{/if}}
    {{view 'comment' contextBinding="firstComment"}}
    {{#unless isShowingRemainingComments}}
      {{#if remainingComments}}
        <a href="#" {{action showRemainingComments}}>
          Show remaining {{remainingComments.length}} comments
        </a>
      {{/if}}
    {{else}}
      {{each remainingComments itemView="comment"}}
    {{/unless}}
  {{/if}}
</div>
