{{partial 'bug/header'}}

<div class="main-view">
  {{!partial 'bug/attachments'}}
  {{partial 'bug/comments'}}
</div>

<div class="edit-side-bar">
  <div>
    {{#link-to "bug" this tagName="button" class="cancel-btn"}}Cancel{{/link-to}}
    <button class="save-btn" {{action "save"}}>Save</button>
  </div>

  <div class="status-res">
    <div>
      <label>STATUS</label>
      {{field "status"}}
    </div>
    <div>
      <label>RESOLUTION</label>
      {{field "resolution"}}
    </div>
  </div>
  {{#if isResolvedAsDuplicate}}
    <div class="dupe_of">
      <span>Duplicate ID:</span>
      {{#link-to "bug" fields.dupeOf.currentValue}}{{fields.dupeOf.currentValue}}{{/link-to}}
    </div>
    <hr>
  {{/if}}
  {{#if fields.whiteboard.currentValue}}
    <div>
      <label>Whiteboard:</label>
      {{field "whiteboard"}}
    </div>
    <hr>
  {{/if}}
  {{#if fields.keywords.currentValue}}
    <div>
      <label>Keywords:</label>
      <label>{{field "keywords"}}</label>
    </div>
    <hr>
  {{/if}}
  <div class="product">
    <label>PRODUCT: <a href="#">?</a></label>
    {{field "product"}}
  </div>
  <div class="component">
    <label>COMPONENT: <a href="#">?</a></label>
    {{field "component"}}
    <hr>
  </div>
  <div class="version">
    <label>VERSION:</label>
    {{field "version"}}
    <hr>
  </div>
  <div class="hardware">
    <label>HARDWARE:</label>
    {{field "platform"}}
    {{field "opSys"}}
    <hr>
  </div>
  <div class="importance">
    <label>IMPORTANCE: <a href="#">with 3 votes</a> <a href="#">vote</a></label>
    {{field "priority"}}
    {{field "severity"}}
    <hr>
  </div>
  <div class="assignee">
    <label>ASSIGNEE:</label>
    {{field "assignedTo"}}
    <button class="inbox-btn">
      <img src="assets/images/inbox.png" alt="Inbox" />
    </button>
    <hr>
  </div>

  <div>
    <label>QA Contact:</label>
    {{field "qaContact"}}
  </div>
  <hr>

  <div class="url">
    <label>URL:</label>
    <span><a {{bindAttr href="fields.url.currentValue"}} target="_blank">{{fields.url.currentValue}}</a></span>
  </div>
  <hr>

  <div class="depends_on">
    <label>Depends on:</label>
    <div>
      {{#if fields.dependsOn.canEdit}}
        <span><span>{{multi-value values=fields.dependsOn.currentValue}}</span></span>
      {{else}}
        {{#each fields.dependsOn.currentValue}}
          <span {{bindAttr title="summary"}}>
            {{#linkTo "bug" this classNameBindings="isResolved"}}{{this}}{{/linkTo}}
          </span>
        {{/each}}
      {{/if}}
    </div>
  </div>
  <hr>

  <div class="blocks">
    <label>Blocks:</label>
    <div>
      {{#if fields.blocks.canEdit}}
        <span><span>{{multi-value values=fields.dependsOn.currentValue}}</span></span>
      {{else}}
        {{#each fields.blocks.currentValue}}
          <span {{bindAttr title="summary"}}>
            {{#linkTo "bug" this classNameBindings="isResolved"}}{{this}}{{/linkTo}}
          </span>
        {{/each}}
      {{/if}}
    </div>
  </div>
  <hr>

  <div class="cc">
    <label>CC LIST:</label>
    <div>
      <a href="#" {{action "showCCModal" this}}>{{fields.cc.currentValue.length}} users</a>
      {{#if currentUserInCCList}}
        (including you)
      {{/if}}
      <button class="write-btn">
        <img src="assets/images/whitepencil.png" alt="Edit" />
      </button>
    </div>

    <label class="notifications">
      {{#unless currentUserInCCList}}
        <button {{action "addCurrentUserToCCList"}}>Add me to CC list</button>
      {{else}}
        <button {{action "removeCurrentUserFromCCList"}}>Remove me from CC list</button>
      {{/unless}}
    </label>
    <hr>
  </div>
  {{#if fields.groups.currentValue}}
    <div class="groups">
      <label>GROUPS:</label>
      <div>
        2 groups selected
        <button class="write-btn">
          <img src="assets/images/whitepencil.png" alt="Edit" />
        </button>
      </div>
      <hr>
    </div>
  {{/if}}
  {{#if fields.flags.currentValue}}
    <div class="flags">
      <label>FLAGS <a href="#">?</a></label>

      <div class="table-container with-button">
        <table class="table">
          {{#each fields.flags.currentValue}}
            <tr>
              <td>{{emailToUsername setter.email}}</td>
              <td class="flag-name">{{name}}</td>
              <td class="flag-status">{{status}}</td>
              <td>{{requestee.email}}</td>
              <td class="button-cell">
                <button>
                  <img src="assets/images/smallgraypencil.png" alt="Edit" />
                </button>
              </td>
              <td class="button-cell">
                <button>
                  <img src="assets/images/grayx.png" alt="Remove" />
                </button>
              </td>
            </tr>
          {{/each}}
        </table>
      </div>
      <div class="label-btn with-table">
        <label>Add a flag
          <button class="add-btn">+</button>
        </label>
      </div>
      <hr>
    </div>
  {{/if}}
  {{#if fields.seeAlso.currentValue}}
    <div>
      <label>SEE ALSO <a href="#">?</a></label>

      <div class="table-container with-button">
        <table class="table">
          {{#each fields.seeAlso.currentValue}}
            <tr>
              <td><a {{bindAttr href=this}}>{{this}}</a></td>
            </tr>
          {{/each}}
        </table>
      </div>
      <div class="label-btn with-table">
        <label>Add a URL
          <button class="add-btn">+</button>
        </label>
      </div>
    </div>
    <hr>
  {{/if}}

  {{#each customFields itemController="field-show"}}
    {{#unless isHidden}}
      <div {{bind-attr class="name"}}>
        <label>
          {{#if description}}
            {{description}}:
          {{else}}
            {{name}}:
          {{/if}}
        </label>
        {{field this}}
      </div>
      <hr>
    {{/unless}}
  {{/each}}

  {{#if projectFlags.currentValue}}
    <div class="project-flags">
      <label>Project flags:</label>
      <div class="table-container with-button">
        <table class="table">
          {{#each projectFlags.currentValue}}
            <tr>
              <td>{{description}}</td>
              <td>{{currentValue}}</td>
              <td class="button-cell">
                <button>
                  <img src="assets/images/smallgraypencil.png" alt="Edit" />
                </button>
              </td>
              <td class="button-cell">
                <button>
                  <img src="assets/images/grayx.png" alt="Remove" />
                </button>
              </td>
            </tr>
          {{/each}}
        </table>
      </div>
      <div class="label-btn with-table">
        <label>Add a project flag
          <button class="add-btn">+</button>
        </label>
      </div>
    </div>
    <hr>
  {{/if}}

  {{#if trackingFlags.currentValue}}
    <div class="tracking-flags">
      <label>Tracking flags:</label>
      <div class="table-container with-button">
        <table class="table">
          {{#each trackingFlags.currentValue}}
            <tr>
              <td>{{description}}</td>
              <td>{{currentValue}}</td>
              <td class="button-cell">
                <button>
                  <img src="assets/images/smallgraypencil.png" alt="Edit" />
                </button>
              </td>
              <td class="button-cell">
                <button>
                  <img src="assets/images/grayx.png" alt="Remove" />
                </button>
              </td>
            </tr>
          {{/each}}
        </table>
      </div>
      <div class="label-btn with-table">
        <label>Add a tracking flag
          <button class="add-btn">+</button>
        </label>
      </div>
    </div>
    <hr>
  {{/if}}

  {{#if fields.groups.currentValue}}
    <div class="groups">
      <span>Groups:</span>
      <table {{bind-attr class="name"}}>
        {{#each fields.groups.currentValue}}
          <tr>
            <td>{{description}}</td>
          </tr>
        {{/each}}
      </table>
    </div>
  {{/if}}

  <div>
    {{#link-to "bug" this tagName="button" class="cancel-btn"}}Cancel{{/link-to}}
    <button class="save-btn" {{action "save"}}>Save</button>
  </div>

</div>
