<div class="edit-side-bar">
  <div>
    {{#link-to "bug" this tagName="button" class="cancel-btn"}}Cancel{{/link-to}}
    <button class="save-btn" {{action "save"}}>Save</button>
  </div>

  {{#if flashMessage}}
    <div class="alert error">
      {{flashMessage}}
    </div>
  {{/if}}

  <div class="status-res">
    <div {{bindAttr class="isResolved::full"}}>
      <label>STATUS</label>
      {{field "status"}}
    </div>
    {{#if isResolved}}
      <div>
        <label>RESOLUTION</label>
        {{field "resolution"}}
      </div>
    {{/if}}
  </div>

  {{#if isResolvedAsDuplicate}}
    <div class="dupe_of">
      <label>Duplicate ID:</label>
      {{field "dupeOf"}}
    </div>
    <hr>
  {{/if}}

  <div>
    <label>Whiteboard:</label>
    {{field "whiteboard"}}
  </div>
  <hr>

  <div>
    <label>Keywords:</label>
    {{field "keywords"}}
  </div>
  <hr>

  <div class="product">
    <label>Product / Component / Version:</label>
    {{field "product"}}
    {{field "component"}}
    {{field "version"}}
  </div>
  <hr>

  <div class="hardware">
    <label>HARDWARE:</label>
    {{field "platform"}}
    {{field "opSys"}}
    <hr>
  </div>

  <div class="importance">
    <label>IMPORTANCE:</label>
    {{field "priority"}}
    {{field "severity"}}
    <hr>
  </div>

  <div>
    <label>Target Milestone:</label>
    {{field "targetMilestone"}}
    <hr>
  </div>

  <div>
    <label>ASSIGNEE:</label>
    {{field "assignedTo"}}
    <hr>
  </div>

  <div>
    <label>QA Contact:</label>
    {{field "qaContact"}}
  </div>
  <hr>

  <div class="url">
    <label>URL:</label>
    {{field "url"}}
  </div>
  <hr>

  <div class="depends_on">
    <label>Depends on:</label>
    <div>
      {{#if fields.dependsOn.canEdit}}
        <span><span>{{multi-value values=fields.dependsOn.currentValue}}</span></span>
      {{else}}
        {{#each fields.dependsOn.currentValue}}
          <span {{bindAttr title="summary"}}>
            {{#linkTo "bug" this classNameBindings="isResolved"}}{{this}}{{/linkTo}}
          </span>
        {{/each}}
      {{/if}}
    </div>
  </div>
  <hr>

  <div class="blocks">
    <label>Blocks:</label>
    <div>
      {{#if fields.blocks.canEdit}}
        <span><span>{{multi-value values=fields.blocks.currentValue}}</span></span>
      {{else}}
        {{#each fields.blocks.currentValue}}
          <span {{bindAttr title="summary"}}>
            {{#linkTo "bug" this classNameBindings="isResolved"}}{{this}}{{/linkTo}}
          </span>
        {{/each}}
      {{/if}}
    </div>
  </div>
  <hr>

  <div class="cc">
    <label>CC LIST:</label>
    <div>
      {{#view "popover_open_button" kind="bug/cc_modal" layoutName=null}}
        <a href="#">
          {{pluralize fields.cc.currentValue.length 'user'}}

          {{#if currentUserInCCList}}
            (including you)
          {{/if}}
        </a>
      {{/view}}
      <!--
      <button class="write-btn">
        <img src="assets/images/whitepencil.png" alt="Edit" />
      </button>
      -->
    </div>

    <div class="notifications">
      {{#unless currentUserInCCList}}
        <button {{action "addCurrentUserToCCList"}}>Add me to CC list</button>
      {{else}}
        <button {{action "removeCurrentUserFromCCList"}}>Remove me from CC list</button>
      {{/unless}}
    </div>
    <hr>
  </div>

  <div class="flags">
    <label>Flags:</label>

    <div class="table-container with-button">
      <table class="table">
        {{#each fields.flags.currentValue itemController="flag"}}
          <tr>
            <td class="flag-setter">{{emailToUsername setter.email}}</td>
            <td class="flag-name">{{name}}</td>
            <td class="flag-status">
              <div class="select-container">
                {{view Ember.Select contentBinding="values" valueBinding="status"}}
                <img src="assets/images/downarrow.png">
              </div>
            </td>
            <td>
              {{#if showRequestee}}
                {{input type="text" value=requestee.email}}
              {{/if}}
            </td>
          </tr>
        {{else}}
          <tr><td colspan="4"><em>No flags</em></td></tr>
        {{/each}}
      </table>
    </div>
    {{#view "popover_open_button" kind="add_flag_popover" class="label-btn with-table"}}
      Add a flag
    {{/view}}
    <hr>
  </div>

  <div>
    <label>SEE ALSO:</label>

    <div {{bindAttr class=":table-container fields.seeAlso.canEdit:with-button"}}>
      <table class="table">
        {{#each fields.seeAlso.currentValue}}
          <tr>
            <td><a {{bindAttr href=this}}>{{this}}</a></td>
            {{#if ../fields.seeAlso.canEdit}}
              <td class="button-cell">
                <button {{action "removeSeeAlsoUrl" this}}>
                  <img src="assets/images/grayx.png" alt="Remove" />
                </button>
              </td>
            {{/if}}
          </tr>
        {{else}}
          <tr><td colspan="4"><em>No URLs</em></td></tr>
        {{/each}}
      </table>
    </div>
    {{#if fields.seeAlso.canEdit}}
      {{#view "popover_open_button" kind="add_url_popover" class="label-btn with-table"}}
        Add a URL
      {{/view}}
    {{/if}}
  </div>
  <hr>

  <div class="project-flags">
    <label>Project flags:</label>
    <div {{bindAttr class=":table-container projectFlags.canEdit:with-button"}}>
      <table class="table">
        {{#each projectFlags.currentValue}}
          <tr>
            <td>{{description}}</td>
            <td class="status">
              {{#if canEdit}}
                <div class="select-container">
                  {{view Ember.Select
                      contentBinding="values"
                      optionLabelPath="content.name"
                      optionValuePath="content.name"
                      valueBinding="currentValue"}}
                  <img src="assets/images/downarrow.png">
                </div>
              {{else}}
                {{currentValue}}
              {{/if}}
            </td>
          </tr>
        {{else}}
          <tr><td colspan="4"><em>No project flags</em></td></tr>
        {{/each}}
      </table>
    </div>
    {{#if projectFlags.canEdit}}
      {{#view "popover_open_button" kind="add_project_flag_popover" class="label-btn with-table"}}
        Add a project flag
      {{/view}}
    {{/if}}
  </div>
  <hr>

  <div class="tracking-flags">
    <label>Tracking flags:</label>
    <div {{bindAttr class=":table-container trackingFlags.canEdit:with-button"}}>
      <table class="table">
        {{#each trackingFlags.currentValue}}
          <tr>
            <td>{{description}}</td>
            <td class="status">
              {{#if canEdit}}
                <div class="select-container">
                  {{view Ember.Select
                        contentBinding="values"
                        optionLabelPath="content.name"
                        optionValuePath="content.name"
                        valueBinding="currentValue"}}
                  <img src="assets/images/downarrow.png">
                </div>
              {{else}}
                {{currentValue}}
              {{/if}}
            </td>
          </tr>
        {{else}}
          <tr><td colspan="4"><em>No tracking flags</em></td></tr>
        {{/each}}
      </table>
    </div>
    {{#if trackingFlags.canEdit}}
      {{#view "popover_open_button" kind="add_tracking_flag_popover" class="label-btn with-table"}}
        Add a tracking flag
      {{/view}}
    {{/if}}
  </div>
  <hr>


  {{#each customFields}}
    <div {{bind-attr class="name"}}>
      <label>
        {{#if description}}
          {{description}}:
        {{else}}
          {{name}}:
        {{/if}}
      </label>
      {{field this}}
    </div>
    <hr>
  {{/each}}

  <div class="groups">
    <label>GROUPS:</label>
    <div>
      {{#view 'popover_open_button' kind="edit_groups_popover" layoutName=null}}
        {{pluralize fields.groups.currentValue.length 'group'}} selected
      {{/view}}
    </div>
    <hr>
  </div>

  <div>
    {{#link-to "bug" this tagName="button" class="cancel-btn"}}Cancel{{/link-to}}
    <button class="save-btn" {{action "save"}}>Save</button>
  </div>

  {{#if flashMessage}}
    <div class="alert error">
      {{flashMessage}}
    </div>
  {{/if}}


</div>