{{partial 'bug/header'}}

{{#if flashMessage}}
  <div class="flash">
    {{flashMessage}}
  </div>
{{/if}}

<div class="detail">
  <div class="left">
    <div class="status">
      <span>Status:</span>
      {{field "status"}}
    </div>
    {{#if isResolved}}
      <div class="resolution">
        <span>Resolution:</span>
        {{field "resolution"}}
      </div>
    {{/if}}
    <div class="whiteboard">
      <span>Whiteboard:</span>
      <span>{{field "whiteboard"}}</span>
    </div>
    <div class="keywords">
      <span>Keywords:</span>
      <span>{{field "keywords"}}</span>
    </div>
    <div class="product">
      <span>Product:</span>
      <span>{{field "product"}}</span>
    </div>
    <div class="component">
      <span>Component:</span>
      <span>{{field "component"}}</span>
    </div>
    <div class="version">
      <span>Version:</span>
      <span>{{field "version"}}</span>
    </div>
    <div class="platform">
      <span>Hardware:</span>
      <span>{{field "platform"}} {{field "op_sys"}}</span>
    </div>
    <div class="importance">
      <span>Importance:</span>
      <span>
        <span>{{field "priority"}}</span>
        <span>{{field "severity"}}</span>
      </span>
    </div>
    <div class="assigned_to">
      <span>Assignee:</span>
      <span>{{field "assigned_to"}}</span>
    </div>
    <div class="qa_contact">
      <span>QA Contact:</span>
      <span>{{field "qa_contact"}}</span>
    </div>
    <div class="url">
      <span>URL:</span>
      <span>{{field "url"}}</span>
    </div>
    <div class="depends_on">
      <span>Depends on:</span>
      {{#if fields.depends_on.can_edit}}
        {{multi-value values=fields.depends_on.current_value}}
      {{else}}
        <ul>
          {{#each fields.depends_on.current_value}}
            <li {{bindAttr title="summary"}}>
              {{#linkTo "bug" this classNameBindings="isResolved"}}{{this}}{{/linkTo}}
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
    <div class="blocks">
      <span>Blocks:</span>
      {{#if fields.blocks.can_edit}}
        {{multi-value values=fields.blocks.current_value}}
      {{else}}
        <ul>
          {{#each fields.blocks.current_value}}
            <li {{bindAttr title="summary"}}>
              {{#linkTo "bug" this classNameBindings="isResolved"}}{{this}}{{/linkTo}}
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>

  <div class="padding"></div>

  <div class="right">
    <div class="creator">
      <span>Reported:</span>
      <span>{{field "creation_time"}} by {{field "creator"}}</span>
    </div>
    <div class="last_change_time">
      <span>Modified:</span>
      <span>{{field "last_change_time"}}</span>
    </div>
    <div class="cc">
      <span>CC List:</span>
      <span>
        <a href="#" {{action "showCCModal" this}}>{{fields.cc.current_value.length}} users</a>

        {{#unless currentUserInCCList}}
          <button {{action "addCurrentUserToCCList"}}>Add me to CC list</button>
        {{else}}
          <button>Remove me from CC list</button>
        {{/unless}}
      </span>
    </div>
    <div class="flags">
      <span>Flags:</span>
      <!-- existing flags -->
      <table>
        {{#each fields.flags.current_value}}
        <tr>
          <td>{{setter.email}}:</td>
          <td>{{name}}</td>
          <td>{{status}}</td>
          <td>
            {{#if requestee}}
              {{requestee.email}}
            {{/if}}
          </td>
        </tr>
        {{/each}}
      </table>

      <!-- new flags -->
      <table>
        {{#each fields.flags.values itemController="flag"}} <!-- itemController? -->
          <tr>
            <td></td>
            <td>{{name}}</td>
            <td>{{view Ember.Select contentBinding="values" valueBinding="value" prompt=" " optionLabelPath="content" optionValuePath="content"}}</td>
            <td>
              {{#if showRequestee}}
                {{input type="text" value=requestee}}
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </table>

    </div>

    {{#each customFields itemController="field-show"}}
      {{#unless isHidden}}
        <div {{bind-attr class="name"}}>
          <span>
            {{#if display_name}}
              {{display_name}}:
            {{else}}
              {{name}}:
            {{/if}}
          </span>
          {{field this}}
        </div>
      {{/unless}}
    {{/each}}

    {{#if projectFlags}}
      <div class="project-flags">
        <span>Project flags:</span>
      </div>
      {{#each projectFlags itemController="field-show"}}
        {{#unless isHidden}}
          <div {{bind-attr class="name"}}>
            <span>
              {{#if display_name}}
                {{display_name}}:
              {{else}}
                {{name}}:
              {{/if}}
            </span>
            {{field this}}
          </div>
        {{/unless}}
      {{/each}}
    {{/if}}

    {{#if trackingFlags}}
      <div class="tracking-flags">
        <span>Tracking flags:</span>
      </div>
      {{#each trackingFlags itemController="field-show"}}
        {{#unless isHidden}}
          <div {{bind-attr class="name"}}>
            <span>
              {{#if display_name}}
                {{display_name}}:
              {{else}}
                {{name}}:
              {{/if}}
            </span>
            {{field this}}
          </div>
        {{/unless}}
      {{/each}}
    {{/if}}
  </div>
</div>
