<div class="bug-info">
  <div>
    {{input type="text" class="bug-name" value=fields.summary.currentValue}}
    {{#linkTo "bug" this class="bug-no"}}Bug {{id}}{{/linkTo}}
  </div>
  <div class="bug-stats">
    <span>Reported at:</span>
    <p>{{fields.creationTime.currentValue}}</p>
    <span>By:</span>
    <p>{{fields.creator.currentValue}}</p>
    <span>last updated:</span>
    <p>{{fields.lastChangeTime.currentValue}}</p>
    {{#if fields.alias.currentValue}}
      <div class="bug-alias">
        <span>alias:</span>
        <p>{{input type="text" value=fields.alias.currentValue}}</p>
      </div>
    {{/if}}
  </div>
</div>