<div class="bug-info">
  <div>
    {{input type="text" class="bug-name" value=fields.summary.currentValue style="border: 1px solid white;" readonly="readonly"}}
    {{#linkTo "bug" this class="bug-no"}}Bug {{id}}{{/linkTo}}
  </div>
  <div class="bug-stats">
    <span>Reported at:</span>
    <p {{bindAttr title="fields.creationTime.currentValue"}}>{{formatDate fields.creationTime.currentValue}}</p>
    <span>By:</span>
    <p >{{fields.creator.currentValue}}</p>
    <span>last updated:</span>
    <p {{bindAttr title="fields.lastChangeTime.currentValue"}}>{{formatDate fields.lastChangeTime.currentValue}}</p>
    {{#if fields.alias.currentValue}}
      <div class="bug-alias">
        <span>alias:</span>
        <p>{{fields.alias.currentValue}}</p>
      </div>
    {{/if}}
  </div>
</div>