<div class="edit-side-bar">
  <div>
    {{#link-to "bug.edit" this tagName="button" class="save-btn" style="width: 100%"}}Edit{{/link-to}}
  </div>

  <div class="status-res">
    <div>
      <label>STATUS</label>
      {{field "status"}}
    </div>
    <div>
      <label>RESOLUTION</label>
      {{field "resolution"}}
    </div>
  </div>
  {{#if isResolvedAsDuplicate}}
    <div class="dupe_of">
      <span>Duplicate ID:</span>
      {{#link-to "bug" fields.dupeOf.currentValue}}{{fields.dupeOf.currentValue}}{{/link-to}}
    </div>
    <hr>
  {{/if}}

  {{#if fields.whiteboard.currentValue}}
    <div>
      <label>Whiteboard:</label>
      {{field "whiteboard"}}
    </div>
    <hr>
  {{/if}}

  {{#if fields.keywords.currentValue}}
    <div>
      <label>Keywords:</label>
      {{field "keywords"}}
    </div>
    <hr>
  {{/if}}

  <div class="product">
    <label>Product / Component / Version:</label>
    {{field "product"}} /
    {{field "component"}} /
    {{field "version"}}
  </div>
  <hr>

  <div class="hardware">
    <label>HARDWARE:</label>
    {{field "platform"}}
    {{field "opSys"}}
    <hr>
  </div>

  <div class="importance">
    <label>IMPORTANCE:</label>
    {{field "priority"}}
    {{field "severity"}}
    <hr>
  </div>

  <div>
    <label>Target Milestone:</label>
    {{field "targetMilestone"}}
    <hr>
  </div>

  <div class="assignee">
    <label>ASSIGNEE:</label>
    {{field "assignedTo"}}
    <hr>
  </div>

  {{#if fields.qaContact.currentValue}}
    <div>
      <label>QA Contact:</label>
      {{field "qaContact"}}
    </div>
    <hr>
  {{/if}}

  {{#if fields.url.currentValue}}
    <div class="url">
      <label>URL:</label>
      <span><a {{bindAttr href="fields.url.currentValue"}} target="_blank">{{fields.url.currentValue}}</a></span>
    </div>
    <hr>
  {{/if}}

  {{#if fields.dependsOn.currentValue}}
    <div class="depends_on">
      <label>Depends on:</label>
      <div>
        {{#each fields.dependsOn.currentValue}}
          <span {{bindAttr title="summary"}}>
            {{#linkTo "bug" this classNameBindings="isResolved"}}{{this}}{{/linkTo}}
          </span>
        {{/each}}
      </div>
    </div>
    <hr>
  {{/if}}

  {{#if fields.blocks.currentValue}}
    <div class="blocks">
      <label>Blocks:</label>
      <div>
        {{#each fields.blocks.currentValue}}
          <span {{bindAttr title="summary"}}>
            {{#linkTo "bug" this classNameBindings="isResolved"}}{{this}}{{/linkTo}}
          </span>
        {{/each}}
      </div>
    </div>
    <hr>
  {{/if}}

  <div class="cc">
    <label>CC LIST:</label>
    <div>
      <a href="#" {{action "showCCModal" this}}>{{fields.cc.currentValue.length}} users</a>
      {{#if currentUserInCCList}}
        (including you)
      {{/if}}
    </div>

    <label class="notifications">
      {{#unless currentUserInCCList}}
        <button {{action "addCurrentUserToCCList"}}>Add me to CC list</button>
      {{else}}
        <button {{action "removeCurrentUserFromCCList"}}>Remove me from CC list</button>
      {{/unless}}
    </label>
    <hr>
  </div>

  {{#if fields.flags.currentValue}}
    <div class="flags">
      <label>Flags:</label>

      <div class="table-container">
        <table class="table">
          {{#each fields.flags.currentValue}}
            <tr>
              <td>{{emailToUsername setter.email}}</td>
              <td class="flag-name">{{name}}</td>
              <td class="flag-status">{{status}}</td>
              <td>{{requestee.email}}</td>
            </tr>
          {{/each}}
        </table>
      </div>
      <hr>
    </div>
  {{/if}}

  {{#if fields.seeAlso.currentValue}}
    <div>
      <label>See Also:</label>

      <div class="table-container">
        <table class="table">
          {{#each fields.seeAlso.currentValue}}
            <tr>
              <td><a {{bindAttr href=this}}>{{this}}</a></td>
            </tr>
          {{/each}}
        </table>
      </div>
      <!--
      <div class="label-btn with-table">
        <label>Add a URL
          <button class="add-btn">+</button>
        </label>
      </div>
      -->
    </div>
    <hr>
  {{/if}}

  {{#if projectFlags.currentValue}}
    <div class="project-flags">
      <label>Project flags:</label>
      <div class="table-container">
        <table class="table">
          {{#each projectFlags.currentValue}}
            <tr>
              <td>{{description}}</td>
              <td>{{currentValue}}</td>
            </tr>
          {{/each}}
        </table>
      </div>
    </div>
    <hr>
  {{/if}}

  {{#if trackingFlags.currentValue}}
    <div class="tracking-flags">
      <label>Tracking flags:</label>
      <div class="table-container">
        <table class="table">
          {{#each trackingFlags.currentValue}}
            <tr>
              <td>{{description}}</td>
              <td>{{currentValue}}</td>
            </tr>
          {{/each}}
        </table>
      </div>
    </div>
    <hr>
  {{/if}}


  {{#each customFields itemController="field-show"}}
    {{#unless isHidden}}
      <div {{bind-attr class="name"}}>
        <label>
          {{#if description}}
            {{description}}:
          {{else}}
            {{name}}:
          {{/if}}
        </label>
        {{field this}}
      </div>
      <hr>
    {{/unless}}
  {{/each}}

  {{#if fields.groups.currentValue}}
    <div class="groups">
      <label>Groups:</label>
      <div>
        {{fields.groups.currentValue.length}} groups selected
      </div>
      <hr>
    </div>
  {{/if}}
</div>
