<div class="bug-info">
  <div>
    <div class="bug-name" style="border: none">{{fields.summary.currentValue}}</div>
    {{#linkTo "bug" this class="bug-no"}}Bug {{id}}{{/linkTo}}
  </div>
  <div class="bug-stats">
    <span>Reported at:</span>
    <p>{{fields.creationTime.currentValue}}</p>
    <span>By:</span>
    <p>{{fields.creator.currentValue}}</p>
    <span>last updated:</span>
    <p>{{fields.lastChangeTime.currentValue}}</p>
    {{#if fields.alias.currentValue}}
      <div class="bug-alias">
        <span>alias:</span>
        <p>({{fields.alias.currentValue}})</p>
      </div>
    {{/if}}
  </div>
</div>