<div class="bug-info">
  <div>
    <span class="bug-name" style="border: 1px solid white; display: inline-block; padding: 5px 0px 1px 4px;">{{fields.summary.currentValue}}</span>
    {{#linkTo "bug" this class="bug-no"}}Bug {{id}}{{/linkTo}}
  </div>
  <div class="bug-stats">
    <span>Reported at:</span>
    <p>{{fields.creationTime.currentValue}}</p>
    <span>By:</span>
    <p>{{fields.creator.currentValue}}</p>
    <span>last updated:</span>
    <p>{{fields.lastChangeTime.currentValue}}</p>
    {{#if fields.alias.currentValue}}
      <div class="bug-alias">
        <span>alias:</span>
        <p>({{fields.alias.currentValue}})</p>
      </div>
    {{/if}}
  </div>
</div>