<label>Add a new tracking flag:</label>
{{#if newTrackingFlags}}
  {{view Ember.Select contentBinding="newTrackingFlags" optionLabelPath="content.description" selectionBinding="newTrackingFlag"}}
  {{view Ember.Select contentBinding="newTrackingFlag.values" optionLabelPath="content.name" optionValuePath="content.name" valueBinding="newTrackingFlagStatus"}}
  <button class="add-pop-btn" {{action "add" target=view}}>Add</button>
{{else}}
  <div>No additional tracking flags to add</div>
{{/if}}
<span><a href="#" {{action "close" target=view}}>Cancel & Close</a></span>