<header class="main-app-header">

  <div id="search" class="search">
    {{input type="text" value=searchText placeholder="Search..."}}
    {{#if searchResults}}
      <ul class="search-results" {{action clearSearchText}}>
        {{#each searchResults}}
          <li>
            {{#linkTo "bug" record}}
              {{ref}}: {{record.summary}}
            {{/linkTo}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>

  <ul class="nav">
    <li><a href="#">New</a></li>
    <li>{{#linkTo 'browse'}}Browse{{/linkTo}}</li>
    <li><a href="#">My Requests</a></li>
    {{#if user.isLoggedIn}}
      <li>{{#linkTo 'dashboard'}}My Dashboard{{/linkTo}}</li>
    {{/if}}
    <li>{{render 'user'}}</li>
  </ul>

</header>


{{outlet}}

{{#if showingLoginModal}}
  <div class="modal-overlay" {{action hideLoginModal}}></div>
  <div class="modal">
    {{render 'login'}}
  </div>
{{/if}}
