<div class="wrapper">
  <header class="main-app-header">
    <img width="154" height="42" style="float: right; margin-top: -16px; margin-left: 20px;" src="assets/images/tabzilla.png">
    {{#if user.isLoggedIn}}
      {{render 'search'}}
    {{/if}}
    {{partial 'nav'}}
  </header>

  {{outlet}}
</div>

{{#if showingLoginModal}}
  <div class="modal-overlay" {{action hideLoginModal}}></div>
  <div class="modal">
    {{render 'login'}}
  </div>
{{/if}}
