<div class="wrapper">
  <header class="main-app-header">
    {{render 'search'}}
    {{partial 'nav'}}
  </header>

  {{outlet}}
</div>

{{#if showingLoginModal}}
  <div class="modal-overlay" {{action hideLoginModal}}></div>
  <div class="modal">
    {{render 'login'}}
  </div>
{{/if}}
