<header class="main-app-header">
  {{render 'search'}}
  {{template 'nav'}}
</header>

{{outlet}}

{{#if showingLoginModal}}
  <div class="modal-overlay" {{action hideLoginModal}}></div>
  <div class="modal">
    {{render 'login'}}
  </div>
{{/if}}
