{{#if errorMessage}}
  <div class="flash">{{errorMessage}}</div>
{{else}}
  <div class="bug">
    {{outlet}}
    {{partial 'bug/attachments'}}
    {{partial 'bug/comments'}}
  </div>

  {{outlet 'modal'}}
{{/if}}