<div class="bug">
  <div class="header">
    <span>
      {{#linkTo "bug" this}}Bug {{id}}{{/linkTo}}
      {{#if isLoading}}
        <img src="/assets/loading.gif">
      {{else}}
        <span> - {{#if alias}}({{alias}}) {{/if}}{{summary}}</span>
      {{/if}}
    </span>
  </div>

  <div class="detail">
    <div class="left">
      <div class="status">
        <span>Status:</span>
        {{field status}}
      </div>
      <div class="whiteboard">
        <span>Whiteboard:</span>
        <span></span>
      </div>
      <div class="keywords">
        <span>Keywords:</span>
        <span>{{field keywords}}</span>
      </div>
      <div class="product">
        <span>Product:</span>
        <span>{{field product}}</span>
      </div>
      <div class="component">
        <span>Component:</span>
        <span>{{field component}}</span>
      </div>
      <div class="version">
        <span>Version:</span>
        <span>{{field version}}</span>
      </div>
      <div class="platform">
        <span>Hardware:</span>
        <span>{{field platform}} {{field op_sys}}</span>
      </div>
      <div class="importance">
        <span>Importance:</span>
        <span>
          <span>{{field priority}}</span>
          <span>{{field severity}}</span>
        </span>
      </div>
      <div class="assigned_to">
        <span>Assignee:</span>
        <span>{{field assigned_to.real_name}}</span>
      </div>
      <div class="qa_contact">
        <span>QA Contact:</span>
        <span>{{field qa_contact.name}}</span>
      </div>
      <div class="url">
        <span>URL:</span>
        <span>{{field url}}</span>
      </div>
      <div class="depends_on">
        <span>Depends on:</span>
        <ul>
          {{#each depends_on}}
            <li {{bindAttr title="summary"}}>
              {{#linkTo "bug" this classNameBindings="isResolved"}}{{field aliasOrId}}{{/linkTo}}
            </li>
          {{else}}
            {{#if depends_on.isLoaded}}
              <em>none</em>
            {{/if}}
          {{/each}}
        </ul>
      </div>
      <div class="blocks">
        <span>Blocks:</span>
        <ul>

          {{#each blocks}}
            <li {{bindAttr title="summary"}}>
              {{#linkTo "bug" this classNameBindings="isResolved"}}{{field aliasOrId}}{{/linkTo}}
            </li>
          {{else}}
            {{#if blocks.isLoaded}}
              <em>none</em>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="padding"></div>

    <div class="right">
      <div class="creator">
        <span>Reported:</span>
        <span>{{field creation_time}} by {{field creator.real_name}}</span>
      </div>
      <div class="last_change_time">
        <span>Modified:</span>
        <span>{{field last_change_time}}</span>
      </div>
      <div class="cc">
        <span>CC List:</span>
        <span>
          {{#if cc}}
            {{cc.length}} users
            <span>
              <ul>
                {{#each cc}}
                  <li>{{field name}}</li>
                {{/each}}
              </ul>
            </span>
          {{/if}}
        </span>
      </div>
      <div class="flags">
        <span>Flags:</span>
        <ul>
          {{#each flags}}
            <li>
              {{name}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <table class="attachments">
    <tbody>
      {{#each unobsoleteAttachments}}
        <tr>
          <td>
            {{#linkTo "attachment" this}}
              {{description}}
            {{/linkTo}}
            ({{formatBytes size}}{{#if is_patch}}, patch{{/if}})<br>
            {{last_change_time}}, {{attacher.name}}
          </td>
          <td>
            {{#if flags}}
              {{#each flags}}
                {{setter.name}}: {{name}}{{status}}
              {{/each}}
            {{else}}
              <em>No flags</em>
            {{/if}}
          </td>
          <td>
            {{#linkTo "attachment" this}}Details{{/linkTo}} |
            <a {{bindAttr href="diffURL"}} target="_blank">Diff</a> |
            <a {{bindAttr href="reviewURL"}} target="_blank">Review</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="comments">
    {{#if comments.isLoading}}
      Loading comments...
    {{/if}}

    {{view App.CommentView contextBinding="firstComment"}}
    {{#unless isShowingRemainingComments}}
      {{#if remainingComments}}
        <a href="#" {{action showRemainingComments}}>Show remaining {{remainingComments.length}} comments</a>
      {{/if}}
    {{else}}
      {{each remainingComments itemViewClass="App.CommentView"}}
    {{/unless}}
  </div>
</div>
