<h1>File a New Bug</h1>

<div class="section">
  <label style="display: block; width: 460px; margin: 0 auto;">
    Select a Product:
    {{view 'chosen_select' content=controller selection=selectedProduct optionLabelPath="name" prompt=" "}}
  </label>
</div>

{{#if newBug}}

  <div class="main-view section">
    {{#if flashMessage}}
      <div class="alert error">{{flashMessage}}</div>
    {{/if}}

    <div class="row">
      <label>Summary: {{input type="text" value=fields.summary.currentValue class="bug-name" style="width: 100%"}}</label>
    </div>

    <div class="row">
      <label class="col">
        Component:
        {{view Ember.Select contentBinding="fields.component.values" selectionBinding="selectedComponent" valueBinding="fields.component.currentValue" optionLabelPath="content.name" optionValuePath="content.name" prompt=" "}}
      </label>
      <label class="col">
        Version:
        {{view Ember.Select contentBinding="fields.version.values" valueBinding="fields.version.currentValue" optionValuePath="content.name" optionLabelPath="content.name" prompt=" "}}
      </label>
    </div>

    <div class="row">
      <label class="col">
        Importance:
        {{view Ember.Select contentBinding="fields.priority.values" valueBinding="fields.priority.currentValue" optionLabelPath="content.name" optionValuePath="content.name"}}
        {{view Ember.Select contentBinding="fields.severity.values" valueBinding="severity" optionLabelPath="content.name" optionValuePath="content.name"}}
      </label>
      <label class="col">
        Hardware:
        {{view Ember.Select contentBinding="fields.platform.values" valueBinding="fields.platform.currentValue" optionValuePath="content.name" optionLabelPath="content.name" prompt=" "}}
        {{view Ember.Select contentBinding="fields.opSys.values" valueBinding="fields.opSys.currentValue" optionValuePath="content.name" optionLabelPath="content.name" prompt=" "}}
      </label>
    </div>

    <div class="row">
      <label>Description: {{textarea value=fields.description.currentValue cols=80 rows=10}}</label>
    </div>

    <!--
    <div class="row">
      <button>Add an attachment</button>
    </div>
    -->

    <!--
    <div class="row">
      <label>Security: <input type="checkbox"> Restrict access to this bug to members of the "Security-Sensitive Core Bug" group.</label>
    </div>
    -->

    <button class="save-btn" {{action "save"}}>Create</button>
  </div>

  <div class="edit-side-bar section" style="top: 226px;">
    <div>
      <a href="#" {{action "toggleAdvanced"}}>
        {{#if showingAdvanced}}
          Hide
        {{else}}
          Show
        {{/if}}
        advanced fields
      </a>
    </div>

    {{#if showingAdvanced}}
      <hr>
      <div>
        <label>Alias:</label>
        {{input type="text" value=fields.alias.currentValue}}
      </div>
      <hr>

      <div>
        <label>Whiteboard:</label>
        {{input type="text" value=fields.whiteboard.currentValue}}
      </div>
      <hr>

      <div>
        <label>Keywords:</label>
        {{input type="text" value=fields.keywords.currentValue}}
      </div>
      <hr>

      <div>
        <label>Target Milestone:</label>
        {{view Ember.Select contentBinding="fields.targetMilestone.values" valueBinding="fields.targetMilestone.currentValue" optionLabelPath="content.name" optionValuePath="content.name"}}
      </div>
      <hr>

      <div>
        <label>ASSIGNEE:</label>
        {{input type="text" value=fields.assignedTo.currentValue}}
      </div>
      <hr>

      <div>
        <label>QA Contact:</label>
        {{input type="text" value=fields.qaContact.currentValue}}
      </div>
      <hr>

      <div class="url">
        <label>URL:</label>
        {{input type="text" value=fields.url.currentValue}}
      </div>
      <hr>

      <div class="depends_on">
        <label>Depends on:</label>
        <div>
          {{multi-value values=fields.dependsOn.currentValue}}
        </div>
      </div>
      <hr>

      <div class="blocks">
        <label>Blocks:</label>
        <div>
          {{multi-value values=fields.blocks.currentValue}}
        </div>
      </div>
      <hr>

      <div class="cc">
        <label>CC LIST:</label>
        <div>
          {{multi-value values=fields.cc.currentValue}}
        </div>
      </div>
      <hr>

      <div class="flags">
        <label>Flags:</label>

        <div class="table-container with-button">
          <table class="table">
            {{#each fields.flags.currentValue itemController="flag"}}
              <tr>
                <td class="flag-setter">{{emailToUsername setter.email}}</td>
                <td class="flag-name">{{name}}</td>
                <td class="flag-status">
                  <div class="select-container">
                    {{view Ember.Select contentBinding="values" valueBinding="status"}}
                    <img src="assets/images/downarrow.png">
                  </div>
                </td>
                <td>
                  {{#if showRequestee}}
                    {{input type="text" value=requestee.email}}
                  {{/if}}
                </td>
              </tr>
            {{else}}
              <tr><td colspan="4"><em>No flags</em></td></tr>
            {{/each}}
          </table>
        </div>
        {{#view "popover_open_button" kind="add_flag_popover" class="label-btn with-table"}}
          Add a flag
        {{/view}}
        <hr>
      </div>

      <div class="project-flags">
        <label>Project flags:</label>
        <div {{bindAttr class=":table-container :with-button"}}>
          <table class="table">
            {{#each projectFlags.currentValue}}
              <tr>
                <td>{{description}}</td>
                <td class="status">
                  <div class="select-container">
                    {{view Ember.Select
                        contentBinding="values"
                        optionLabelPath="content.name"
                        optionValuePath="content.name"
                        valueBinding="currentValue"}}
                    <img src="assets/images/downarrow.png">
                  </div>
                </td>
              </tr>
            {{else}}
              <tr><td colspan="4"><em>No project flags</em></td></tr>
            {{/each}}
          </table>
        </div>
        {{#view "popover_open_button" kind="add_project_flag_popover" class="label-btn with-table"}}
          Add a project flag
        {{/view}}
      </div>
      <hr>

      <div class="tracking-flags">
        <label>Tracking flags:</label>
        <div {{bindAttr class=":table-container :with-button"}}>
          <table class="table">
            {{#each trackingFlags.currentValue}}
              <tr>
                <td>{{description}}</td>
                <td class="status">
                  <div class="select-container">
                    {{view Ember.Select
                          contentBinding="values"
                          optionLabelPath="content.name"
                          optionValuePath="content.name"
                          valueBinding="currentValue"}}
                    <img src="assets/images/downarrow.png">
                  </div>
                </td>
              </tr>
            {{else}}
              <tr><td colspan="4"><em>No tracking flags</em></td></tr>
            {{/each}}
          </table>
        </div>
        {{#view "popover_open_button" kind="add_tracking_flag_popover" class="label-btn with-table"}}
          Add a tracking flag
        {{/view}}
      </div>
      <hr>


      {{#each customFields}}
        <div {{bind-attr class="name"}}>
          <label>
            {{#if description}}
              {{description}}:
            {{else}}
              {{name}}:
            {{/if}}
          </label>
          {{field this}}
        </div>
        <hr>
      {{/each}}

      <div class="groups">
        <label>GROUPS:</label>
        <div>
          {{#view 'popover_open_button' kind="edit_groups_popover" layoutName=null}}
            {{pluralize fields.groups.currentValue.length 'group'}} selected
          {{/view}}
        </div>
        <hr>
      </div>
    {{/if}}
  </div>

{{else}}
  {{#if newBugIsLoading}}
    Loading...
  {{/if}}
{{/if}}