<form {{action "save" on="submit"}} class="container form--long">

  <h1 class="newBug__header">New bug</h1>

  <div class="form__item">
    <label>Summary:</label>
    {{input type="text" value=summary}}
  </div>
  <div class="form__item">
    <label>Product:</label>
    {{select content=products selection=selectedProduct value=product optionLabelPath="name" optionValuePath="name" prompt="[Product]"}}
  </div>
  <div class="form__item">
    <label>Component:</label>
    {{select content=components selection=selectedComponent value=component optionLabelPath="name" optionValuePath="name" prompt="[Component]"}}
  </div>
  <div class="form__item">
    <label>Version:</label>
    {{select content=versions value=version optionLabelPath="name" prompt="[Version]"}}
  </div>
  <div class="form__item">
    <label>Severity:</label>
    {{select content=configuration.bug_severity.values value=severity optionLabelPath="name" prompt="[Severity]"}}
  </div>
  <div class="form__item">
    <label>Hardware:</label>
    {{select content=configuration.rep_platform.values value=platform optionLabelPath="name" prompt="[Hardware]"}}
  </div>
  <div class="form__item">
    <label>OS:</label>
    {{select content=configuration.op_sys.values value=op_sys optionLabelPath="name" prompt="[OS]"}}
  </div>
  <div class="form__item">
    <label>Priority:</label>
    {{select content=configuration.priority.values value=priority optionLabelPath="name" prompt="[Priority]"}}
  </div>
  <div class="form__item">
    <label>Flags:</label>
    
      {{#each selectedComponent.flag_types.bug}}
        {{name}}: {{select}}
      {{/each}}
    
  </div>
  <div class="form__item">
    <label>Status:</label>
    {{select content=configuration.bug_status.values value=status optionLabelPath="name" prompt="[Status]"}}
  </div>
  <div class="form__item">
    <label>Assignee:</label>
    {{input type="text" value=assigned_to}}
  </div>
  <div class="form__item">
    <label>CC:</label>
    {{input type="text" value=cc}}
  </div>
  <div class="form__item">
    <label>Alias:</label>
    {{input type="text" value=alias}}
  </div>
  <div class="form__item">
    <label>URL:</label>
    {{input type="text" value=url}}
  </div>
  <div class="form__item">
    <label>Description:</label>
    {{textarea value=description}}
  </div>
  <div class="form__item">
    <label>Depends on:</label>
    {{!input type="text" value=depends_on}}
  </div>
  <div class="form__item">
    <label>Blocks:</label>
    {{!input type="text" value=blocks}}
  </div>

  <button type="submit" class="button--form button--large">Save</button>
</form>
