<div class="header">
  {{gravatar creator}}
  <span>{{creator}}</span>
  <span>{{creation_time}}</span>
  {{! FIXME: this could be better }}
  {{#if controller.user.isLoggedIn}}
    <span><button {{action reply this}}>reply</button></span>
  {{/if}}
</div>
<pre>{{linkify text}}</pre>
