<header class="comment-header">
  {{gravatar creator}}
  <span>{{creator}}</span>
  <span class="comment-date" {{bindAttr title="creation_time"}}>
    <img src="assets/images/clock.png" alt="Date">
    {{formatDate creation_time}}
  </span>
  {{! FIXME: this could be better }}
  {{#if controller.user.isLoggedIn}}
    <span class="comment-reply"><img src="assets/images/reply.png" alt="Reply" {{action "reply" this}}>
  {{/if}}
</header>
<pre class="comment-text">{{linkify text}}</pre>